<material-input class="material-input input" ng-class="{'uk-input-error': !vm.isValid() }">
    <input type="text" id="{{vm.identifier}}"  name={{name}} ng-click="vm.cancelPropagation($event)" ng-model="vm.viewValue" ng-change="vm.onChange(vm.viewValue)" ng-focus="vm.onFocus()" ng-blur="vm.onBlur()" ng-class="{'filled': vm.isFilled() || vm.isOnDropDown}">
    <uk-dropdown class="uk-dropdown" aria-expanded="false" ng-click="vm.cancelPropagation($event)">
        <uk-calendar ng-model="ngModel" on-change-date="vm.onChangeDate"  min-date="vm.minDate" max-date="vm.maxDate" start-date="vm.startDate" exclude-days="vm.excludeDays" exclude-weekends="vm.excludeWeekends">
        </uk-calendar>
    </uk-dropdown>
    <span class="material-bar"></span>
    <label for="{{vm.identifier}}">{{placeholder}}</label>
</material-input>
